body{
	margin: 0px;
	background-image: url("../images/math.png");
	color:#777777;
	font-family: 'Space Mono', monospace;
	font-size: 18px;
}

h1, h2, h3{
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
	color: #4aaaa5;
}
h1{
	font-size: 30px;
	background-color: #4aaaa5;
	color: white;
	float:left;
	line-height: 80px;
	margin: 0px 22% 0px 15%;
	text-align: center;
	padding: 0px 25px 0px 25px;
	white-space: nowrap;

}

p{
	line-height: 35px;
}


h2{
	font-size: 28px;
	padding: 0px 0px 32px 0px;
	margin: 0px 0px 32px 0px;
	border-bottom: 3px solid #cccccc;
}

h3{
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding: 0px 0px 20px 0px;
	margin: 0px 0px 20px 0px;
	border-bottom: 1px solid #cccccc;

}


header{
	background-color: #ffffff;
	margin-bottom: 40px;
	overflow: hidden;
	width:100%;
	border-bottom: 3px solid #aaaaaa;
	z-index: 1;
}

.nav{
	float:none;
	text-align: center;
	line-height: 80px;
	width: auto;
	margin: 0px 0px 0px 15%;
	white-space: nowrap;	
}

.centerWrapper {
    margin-left:auto;
    margin-right:auto;
    overflow: auto;
    width:960px;
    margin-bottom:40px;
}

.mainContent{
	background-color: #ffffff;
	padding:34px 34px 34px 34px;
	border: 2px solid #aaaaaa;
	width: 578px;
	margin: 0px 40px 0px 0px;
	float:left;
}

.resize{
   max-width:40%;
   max-height:40%;
   float:left;
   margin: 0px 28px 10px 0px;
}

.contactInfo{
	text-align: center;
	padding:20px;
	width:228px;
	background-color: #ffffff;
	overflow: auto;
	margin: 0px;
	border: 1px solid #bbbbbb;
}

.contactImages{
    max-width: 33%; 
    max-height: 33%;
    float:left;
}


input[type=text], select, textarea{
    width: 100%;
    color: #000000;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: none;
    font-family: inherit;
}
textarea{
	height: 100px;
}

.portfolioimages{
float:left;
padding-bottom: 40px;
position:relative;	
z-index:;
}

.imagelabel{
	text-align: center;
	font-size:1.0em;
	background-color: #4aaaa5;
	color: #ffffff;
	width:255px;
	line-height: 30px;
	padding: 10px;
	position: absolute;
	bottom:55px;

}
input[type=submit] {
    width: 20%;
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}	

a:link {
    color: #787878;
    text-decoration: none;
    letter-spacing: 1px;
}

a:visited {
    color: #787878;
}

a:hover {
    color: #48a8a3;
    text-decoration: none;
}

a:active {
    color: #49a9a4;
    text-decoration: none;
}

footer{
	margin-left:auto;
    margin-right:auto;
    overflow: auto;
	padding:0px;
	background-color: #666666;
	line-height: 80px;
	text-align: center;
	color: #cccccc;
	font-size: 14px;
	border-top: 10px solid #4aaaa5;
	font-weight: lighter;
}

@media screen and (max-width: 980px) {
    body {
        
    }
}
@media screen and (max-width: 768px) {
    .centerWrapper{
    	max-width: 100%;
    	align-content: center;
    }
    .mainContent{
    display: table;
    margin: 0 auto;
    float: none;
    }
    .contactInfo{
      display: table;
    margin: 0 auto;
    }
    header{
    	max-width: 100%;
    	margin-bottom: 40px;
    	position:static;
    }
    body{
    	margin:0px;
    }
}
@media screen and (max-width: 640px) {
    body {
        
    }
}